################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session2_HW2/bin/Debug/net8.0
/Session2_HW2/obj
/Session2_HW3/bin/Debug/net8.0
/Session2_HW3/obj
/Session2_HW4/bin/Debug/net8.0
/Session2_HW4/obj
/Session2_HW5/bin/Debug/net8.0
/Session2_HW5/obj
/Test1/bin/Debug/net8.0
/Test1/obj
/.vs/Test1/FileContentIndex
/.vs/ProjectEvaluation
/S3_HW1/bin/Debug/net8.0
/S3_HW1/obj
/S3_HW2/bin/Debug/net8.0
/S3_HW2/obj
/S3_HW3/bin/Debug/net8.0
/S3_HW3/obj
/S3_HW4/bin/Debug/net8.0
/S3_HW4/obj
/S3_HW5/bin/Debug/net8.0
/S3_HW5/obj
/S3_HW6/bin/Debug/net8.0
/S3_HW6/obj
/S4_HW1/bin/Debug/net8.0
/S4_HW1/obj
/S4_HW2/bin/Debug/net8.0
/S4_HW2/obj
/S4_HW3/bin/Debug/net8.0
/S4_HW3/obj
/S4_HW4/bin/Debug/net8.0
/S4_HW4/obj
/S4_HW5/bin/Debug/net8.0
/S4_HW5/obj
/S4_HW6/bin/Debug/net8.0
/S4_HW6/obj
/S4_HW7/bin/Debug/net8.0
/S4_HW7/obj
/S4_HW8/bin/Debug/net8.0
/S4_HW8/obj
/S5_HW1/bin/Debug/net8.0
/S5_HW1/obj
/S5_HW2/bin/Debug/net8.0
/S5_HW2/obj
/S5_HW3/bin/Debug/net8.0
/S5_HW3/obj
/S5_HW4/bin/Debug/net8.0
/S5_HW4/obj
/S5_HW5/bin/Debug/net8.0
/S5_HW5/obj
/S5_HW6/bin/Debug/net8.0
/S5_HW6/obj
/S5_HW7/bin/Debug/net8.0
/S5_HW7/obj
/S5_HW8/bin/Debug/net8.0
/S5_HW8/obj
/S5_HW9/bin/Debug/net8.0
/S5_HW9/obj
